.inicio
{
    margin: 5rem 0;
}

.inicio__contenido
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 66vh;
}

.inicio__img
{
    width: 40%;
}

.inicio__textos
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.inicio__texto
{
    font-weight: var(--medium);
    font-size: 2.5rem;
}